Django==1.3
Pillow==1.7.5
South==0.7.3
Werkzeug==0.7.1
django-extensions==0.6
django-grappelli==2.3.3
django-taggit==0.9.3
wsgiref==0.1.2
-e hg+https://bitbucket.org/fabian/django-taggit-autosuggest#egg=django-taggit-autosuggest
MySQL-python==1.2.3
